Repository gfx-rs/wgpu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gfx-rs/wgpu, @gfx-rs/deno, @gfx-rs/naga

Naga(msl): Clear named expressions after writing each function (#4594)
  CHANGELOG.md
  naga/src/back/msl/writer.rs
Owners: @gfx-rs/naga

Update Cargo.toml
  wgpu-hal/Cargo.toml
Owners: @gfx-rs/wgpu

Ensure that pipeline creation errors register layouts as errors also
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Updated CHANGELOG.md.
  CHANGELOG.md
Owners: none

Before adding errors, remove existing elements, if present.
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Use HLSL 2018
  wgpu-hal/src/dx12/shader_compilation.rs
Owners: @gfx-rs/wgpu

Use HLSL 2018 (#4629)
  wgpu-hal/src/dx12/shader_compilation.rs
Owners: @gfx-rs/wgpu

Comments
  Cargo.lock
  naga/src/back/glsl/mod.rs
  wgpu-hal/src/gles/command.rs
  wgpu-hal/src/gles/conv.rs
  wgpu-hal/src/gles/device.rs
  wgpu-hal/src/gles/mod.rs
  wgpu-hal/src/gles/queue.rs
Owners: @gfx-rs/wgpu, @gfx-rs/naga

Fix publish script
  .github/workflows/publish.yml
Owners: @gfx-rs/wgpu

subgroup: fix hlsl subgroup_id
  naga/src/back/hlsl/writer.rs
Owners: @gfx-rs/naga

subgroups: update naga snapshots
  naga/tests/out/hlsl/subgroup-operations-s.hlsl
  naga/tests/out/hlsl/subgroup-operations.hlsl
Owners: @gfx-rs/naga

Fixing double lock on buffer destroy + test added
  tests/tests/buffer_usages.rs
  wgpu-core/src/resource.rs
Owners: @gfx-rs/wgpu

update web-sys to 0.3.65
  Cargo.lock
  Cargo.toml
  wgpu-core/Cargo.toml
  wgpu-hal/Cargo.toml
  wgpu-types/Cargo.toml
  wgpu/src/backend/web.rs
  xtask/Cargo.lock
Owners: @gfx-rs/wgpu

format
  wgpu/src/backend/web.rs
Owners: @gfx-rs/wgpu

vulkan: Log validation messages during instance creation/destruction
  CHANGELOG.md
  wgpu-hal/src/vulkan/instance.rs
  wgpu-hal/src/vulkan/mod.rs
Owners: @gfx-rs/wgpu

Rewrite event loop
  Cargo.lock
  Cargo.toml
  examples/common/Cargo.toml
  examples/common/src/framework.rs
  xtask/Cargo.lock
Owners: @gfx-rs/wgpu

[naga wgsl-in] Introduce `Scalar` type.
  naga/src/front/wgsl/error.rs
  naga/src/front/wgsl/lower/construction.rs
  naga/src/front/wgsl/lower/mod.rs
  naga/src/front/wgsl/mod.rs
  naga/src/front/wgsl/parse/ast.rs
  naga/src/front/wgsl/parse/conv.rs
  naga/src/front/wgsl/parse/lexer.rs
  naga/src/front/wgsl/parse/mod.rs
Owners: @gfx-rs/naga

Completely redo event loop
  Cargo.lock
  Cargo.toml
  examples/common/Cargo.toml
  examples/common/src/framework.rs
Owners: @gfx-rs/wgpu

Format
  examples/common/src/framework.rs
Owners: @gfx-rs/wgpu

Fix wasm
  examples/common/src/framework.rs
Owners: @gfx-rs/wgpu

Rewrite Example Event Loop (#4634)
  Cargo.lock
  Cargo.toml
  examples/common/Cargo.toml
  examples/common/src/framework.rs
  xtask/Cargo.lock
Owners: @gfx-rs/wgpu

Fix panic
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Fix Panic in Surface Configure (#4635)
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Fix Panic in Surface Configure (#4635)
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

subgroups: fix gpu test on systems with subgroup size of 1
  tests/tests/subgroup_operations/shader.wgsl
Owners: @gfx-rs/wgpu

Fix wasm examples
  examples/common/src/framework.rs
  examples/hello-triangle/src/main.rs
Owners: @gfx-rs/wgpu

Fix wasm examples (#4639)
  examples/common/src/framework.rs
  examples/hello-triangle/src/main.rs
Owners: @gfx-rs/wgpu

vulkan: Log validation layer messages during instance creation/destruction (#4586)
  CHANGELOG.md
  wgpu-hal/src/vulkan/instance.rs
  wgpu-hal/src/vulkan/mod.rs
Owners: @gfx-rs/wgpu

Pass 3 on examples
  Cargo.lock
  examples/bunnymark/screenshot.png
  examples/bunnymark/src/main.rs
  examples/uniform-values/src/main.rs
Owners: @gfx-rs/wgpu

Pass 3 on examples (#4640)
  Cargo.lock
  examples/bunnymark/screenshot.png
  examples/bunnymark/src/main.rs
  examples/uniform-values/src/main.rs
Owners: @gfx-rs/wgpu

[naga wgsl-in] Introduce `Scalar` type.
  naga/src/front/wgsl/error.rs
  naga/src/front/wgsl/lower/construction.rs
  naga/src/front/wgsl/lower/mod.rs
  naga/src/front/wgsl/mod.rs
  naga/src/front/wgsl/parse/ast.rs
  naga/src/front/wgsl/parse/conv.rs
  naga/src/front/wgsl/parse/lexer.rs
  naga/src/front/wgsl/parse/mod.rs
Owners: @gfx-rs/naga

Check if `source` is empty when constructing `hal::DebugSource`
  wgpu-core/src/device/resource.rs
Owners: @gfx-rs/wgpu

Fix GL Push Constant Layout (#4607)
  Cargo.lock
  naga/src/back/glsl/mod.rs
  naga/tests/out/glsl/push-constants.main.Fragment.glsl
  naga/tests/out/glsl/push-constants.vert_main.Vertex.glsl
  tests/src/image.rs
  tests/tests/gpu.rs
  tests/tests/partially_bounded_arrays/mod.rs
  tests/tests/push_constants.rs
  tests/tests/regression/issue_3349.fs.wgsl
  tests/tests/regression/issue_3349.rs
  tests/tests/regression/issue_3349.vs.wgsl
  tests/tests/scissor_tests/mod.rs
  tests/tests/shader/mod.rs
  tests/tests/shader/shader_test.wgsl
  tests/tests/shader/struct_layout.rs
  tests/tests/shader_primitive_index/mod.rs
  wgpu-hal/Cargo.toml
  wgpu-hal/src/dx11/command.rs
  wgpu-hal/src/dx12/command.rs
  wgpu-hal/src/empty.rs
  wgpu-hal/src/gles/command.rs
  wgpu-hal/src/gles/conv.rs
  wgpu-hal/src/gles/device.rs
  wgpu-hal/src/gles/mod.rs
  wgpu-hal/src/gles/queue.rs
  wgpu-hal/src/lib.rs
  wgpu-hal/src/metal/command.rs
  wgpu-hal/src/vulkan/command.rs
  wgpu-hal/src/vulkan/device.rs
  wgpu/src/backend/direct.rs
Owners: @gfx-rs/wgpu, @gfx-rs/naga

Check if `source` is empty when constructing `hal::DebugSource`
  wgpu-core/src/device/resource.rs
Owners: @gfx-rs/wgpu

Gate usage of `metal::ComputePassDescriptor` on timestamp query support
  wgpu-hal/src/metal/command.rs
Owners: @gfx-rs/wgpu

add comment
  wgpu-hal/src/metal/command.rs
Owners: @gfx-rs/wgpu

Gate usage of `metal::ComputePassDescriptor` on timestamp query support (#4643)
  wgpu-hal/src/metal/command.rs
Owners: @gfx-rs/wgpu

Review fixes.
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Ensure that pipeline creation errors register layouts as errors also
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Review fixes.
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

.github/CODEOWNERS:

* @gfx-rs/wgpu

/cts_runner/    @gfx-rs/deno @gfx-rs/wgpu
/deno_webgpu/   @gfx-rs/deno @gfx-rs/wgpu
/naga/          @gfx-rs/naga
/naga-cli/      @gfx-rs/naga

# We leave the codeowners empty for the changelog, so naga changes 
# don't trigger wgpu reviews and vise versa.
/CHANGELOG.md
