Repository gfx-rs/wgpu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gfx-rs/wgpu, @crowlkats, @gfx-rs/naga

.github/CODEOWNERS:

* @gfx-rs/wgpu

/cts_runner/    @crowlkats @gfx-rs/wgpu
/deno_webgpu/   @crowlkats @gfx-rs/wgpu
/naga/          @gfx-rs/naga
/naga-cli/      @gfx-rs/naga

# Both wgpu and naga teams are owners of naga infrastructure so
# either team can review changes to deps and docs.
naga/Cargo.toml      @gfx-rs/wgpu @gfx-rs/naga
naga/README.md       @gfx-rs/wgpu @gfx-rs/naga
naga/CHANGELOG.md    @gfx-rs/wgpu @gfx-rs/naga
naga-cli/Cargo.toml  @gfx-rs/wgpu @gfx-rs/naga

# We leave the codeowners empty for the changelog, so naga changes 
# don't trigger wgpu reviews and vise versa.
/CHANGELOG.md

[naga spv-out] Clean up `write_expression_pointer` type adjustment.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Move code to load a pointer into its own function.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Spill arrays and matrices for runtime indexing.
  CHANGELOG.md
  naga/src/arena/handle_set.rs
  naga/src/back/spv/block.rs
  naga/src/back/spv/mod.rs
  naga/src/back/spv/writer.rs
  naga/src/valid/expression.rs
  naga/tests/in/index-by-value.wgsl
  naga/tests/out/ir/index-by-value.compact.ron
  naga/tests/out/ir/index-by-value.ron
  naga/tests/out/spv/access.spvasm
  naga/tests/out/spv/index-by-value.spvasm
  naga/tests/snapshots.rs
  naga/tests/wgsl_errors.rs
Owners: @gfx-rs/naga

[naga] Test access to a member/element through a pointer.
  naga/tests/in/access.wgsl
  naga/tests/out/analysis/access.info.ron
  naga/tests/out/glsl/access.assign_to_ptr_components.Compute.glsl
  naga/tests/out/glsl/access.foo.Vertex.glsl
  naga/tests/out/glsl/access.foo_frag.Fragment.glsl
  naga/tests/out/glsl/access.foo_vert.Vertex.glsl
  naga/tests/out/hlsl/access.hlsl
  naga/tests/out/hlsl/access.ron
  naga/tests/out/ir/access.compact.ron
  naga/tests/out/ir/access.ron
  naga/tests/out/msl/access.msl
  naga/tests/out/spv/access.spvasm
  naga/tests/out/wgsl/access.wgsl
Owners: @gfx-rs/naga

don't need to check vector size when sampling
  naga/src/front/spv/image.rs
Owners: @gfx-rs/naga

[spv-in] sampling from depth textures returns a scalar and is splatted (#6384)
  CHANGELOG.md
  naga/src/front/spv/image.rs
  naga/src/proc/mod.rs
  naga/tests/in/spv/fetch_depth.spv
  naga/tests/in/spv/fetch_depth.spvasm
  naga/tests/out/hlsl/fetch_depth.hlsl
  naga/tests/out/hlsl/fetch_depth.ron
  naga/tests/out/ir/fetch_depth.compact.ron
  naga/tests/out/ir/fetch_depth.ron
  naga/tests/out/msl/fetch_depth.msl
  naga/tests/out/spv/fetch_depth.spvasm
  naga/tests/out/wgsl/fetch_depth.wgsl
  naga/tests/snapshots.rs
Owners: @gfx-rs/naga

test(ci): enforce TOML formatting with `taplo` 0.9.3
  .github/pull_request_template.md
  .github/workflows/ci.yml
  taplo.toml
Owners: @gfx-rs/wgpu

style: remove trailing whitespace in PR template
  .github/pull_request_template.md
Owners: @gfx-rs/wgpu

chore: format TOML files with `taplo` 0.9.3
  .deny.toml
  cts_runner/Cargo.toml
  naga/xtask/Cargo.toml
  player/Cargo.toml
  rustfmt.toml
  wgpu-hal/Cargo.toml
  xtask/Cargo.toml
Owners: @gfx-rs/wgpu, @crowlkats, @gfx-rs/naga

chore: satisfy `unused_qualifications` (again)
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

refactor: s/once_cell::sync::OnceCell/std::sync::OnceLock
  wgpu-core/src/binding_model.rs
  wgpu-core/src/device/resource.rs
Owners: @gfx-rs/wgpu

chore: keep TOML fields alphabetized
  .deny.toml
  Cargo.toml
  benches/Cargo.toml
  cts_runner/Cargo.toml
  deno_webgpu/Cargo.toml
  examples/Cargo.toml
  lock-analyzer/Cargo.toml
  naga-cli/Cargo.toml
  naga/Cargo.toml
  naga/fuzz/Cargo.toml
  naga/hlsl-snapshots/Cargo.toml
  naga/xtask/Cargo.toml
  player/Cargo.toml
  rust-toolchain.toml
  taplo.toml
  tests/Cargo.toml
  typos.toml
  wgpu-core/Cargo.toml
  wgpu-hal/Cargo.toml
  wgpu-info/Cargo.toml
  wgpu-macros/Cargo.toml
  wgpu-types/Cargo.toml
  wgpu/Cargo.toml
  xtask/Cargo.toml
Owners: @gfx-rs/wgpu, @crowlkats, @gfx-rs/naga

chore: satisfy `unused_qualifications` (again)
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

refactor: fully qual. `size_of` usage
  examples/src/bunnymark/mod.rs
  examples/src/srgb_blend/mod.rs
Owners: @gfx-rs/wgpu

refactor: s/once_cell::sync::OnceCell/std::sync::OnceLock
  wgpu-core/src/binding_model.rs
  wgpu-core/src/device/resource.rs
Owners: @gfx-rs/wgpu

refactor: fully qual. `size_of` usage (#6401)
  examples/src/bunnymark/mod.rs
  examples/src/srgb_blend/mod.rs
Owners: @gfx-rs/wgpu

fix typo
  wgpu-types/src/lib.rs
Owners: @gfx-rs/wgpu

Edit CHANGELOG
  CHANGELOG.md
Owners: none
