Repository gfx-rs/wgpu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gfx-rs/wgpu, @crowlkats, @gfx-rs/naga

.github/CODEOWNERS:

* @gfx-rs/wgpu

/cts_runner/    @crowlkats @gfx-rs/wgpu
/deno_webgpu/   @crowlkats @gfx-rs/wgpu
/naga/          @gfx-rs/naga
/naga-cli/      @gfx-rs/naga

# Both wgpu and naga teams are owners of naga infrastructure so
# either team can review changes to deps and docs.
naga/Cargo.toml      @gfx-rs/wgpu @gfx-rs/naga
naga/README.md       @gfx-rs/wgpu @gfx-rs/naga
naga/CHANGELOG.md    @gfx-rs/wgpu @gfx-rs/naga
naga-cli/Cargo.toml  @gfx-rs/wgpu @gfx-rs/naga

# We leave the codeowners empty for the changelog, so naga changes 
# don't trigger wgpu reviews and vise versa.
/CHANGELOG.md

[naga msl-out] chore: update test outputs
  naga/tests/out/msl/atomicCompareExchange.msl
  naga/tests/out/msl/overrides-atomicCompareExchangeWeak.msl
Owners: @gfx-rs/naga

[naga msl-out] Implement atomicCompareExchangeWeak for MSL backend (#6265)
  CHANGELOG.md
  naga/src/back/msl/writer.rs
  naga/tests/out/msl/atomicCompareExchange.msl
  naga/tests/out/msl/overrides-atomicCompareExchangeWeak.msl
  naga/tests/snapshots.rs
Owners: @gfx-rs/naga

support for module comment
  naga/src/front/wgsl/lower/mod.rs
  naga/src/front/wgsl/parse/ast.rs
  naga/src/front/wgsl/parse/lexer.rs
  naga/src/front/wgsl/parse/mod.rs
  naga/src/lib.rs
Owners: @gfx-rs/naga

update tests snapshots
  naga/tests/out/ir/access.compact.ron
  naga/tests/out/ir/access.ron
  naga/tests/out/ir/atomic_i_increment.compact.ron
  naga/tests/out/ir/atomic_i_increment.ron
  naga/tests/out/ir/collatz.compact.ron
  naga/tests/out/ir/collatz.ron
  naga/tests/out/ir/overrides-atomicCompareExchangeWeak.compact.ron
  naga/tests/out/ir/overrides-atomicCompareExchangeWeak.ron
  naga/tests/out/ir/overrides-ray-query.compact.ron
  naga/tests/out/ir/overrides-ray-query.ron
  naga/tests/out/ir/overrides.compact.ron
  naga/tests/out/ir/overrides.ron
  naga/tests/out/ir/shadow.compact.ron
  naga/tests/out/ir/shadow.ron
  naga/tests/out/ir/spec-constants.compact.ron
  naga/tests/out/ir/spec-constants.ron
Owners: @gfx-rs/naga

[naga spv-out] Rename `make_local` to `LocalType::from_inner`.
  naga/src/back/spv/block.rs
  naga/src/back/spv/mod.rs
  naga/src/back/spv/writer.rs
Owners: @gfx-rs/naga

[naga spv-out] Expand LocalType to permit pointers to matrices.
  naga/src/back/spv/block.rs
  naga/src/back/spv/image.rs
  naga/src/back/spv/mod.rs
  naga/src/back/spv/ray.rs
  naga/src/back/spv/subgroup.rs
  naga/src/back/spv/writer.rs
Owners: @gfx-rs/naga

[naga spv-out] Simplify `Writer::get_pointer_id`.
  naga/src/back/spv/block.rs
  naga/src/back/spv/index.rs
  naga/src/back/spv/mod.rs
  naga/src/back/spv/writer.rs
Owners: @gfx-rs/naga

[naga spv-out] Delete `BlockContext::is_intermediate`; use types.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

add snapshot test for depth fetch
  naga/src/front/spv/image.rs
  naga/tests/snapshots.rs
Owners: @gfx-rs/naga

test(ci): enforce TOML formatting with `taplo` 0.9.3
  .github/pull_request_template.md
  .github/workflows/ci.yml
  taplo.toml
Owners: @gfx-rs/wgpu

style: remove trailing whitespace in PR template
  .github/pull_request_template.md
Owners: @gfx-rs/wgpu

chore: format TOML files with `taplo` 0.9.3
  .deny.toml
  cts_runner/Cargo.toml
  naga/xtask/Cargo.toml
  player/Cargo.toml
  rustfmt.toml
  wgpu-hal/Cargo.toml
  xtask/Cargo.toml
Owners: @gfx-rs/wgpu, @crowlkats, @gfx-rs/naga

check in fetch_depth binaries and output
  naga/tests/in/spv/fetch_depth.spv
  naga/tests/in/spv/fetch_depth.spvasm
  naga/tests/out/hlsl/fetch_depth.hlsl
  naga/tests/out/hlsl/fetch_depth.ron
  naga/tests/out/ir/fetch_depth.compact.ron
  naga/tests/out/ir/fetch_depth.ron
  naga/tests/out/msl/fetch_depth.msl
  naga/tests/out/spv/fetch_depth.spvasm
  naga/tests/out/wgsl/fetch_depth.wgsl
Owners: @gfx-rs/naga

inline docs
  naga/src/front/spv/image.rs
Owners: @gfx-rs/naga

avoid a Trivia token between comment lines.
  naga/src/front/wgsl/parse/lexer.rs
Owners: @gfx-rs/naga

[naga/wgsl-out]: add `_naga` to list of reserved prefixes to namer
  naga/src/back/wgsl/writer.rs
Owners: @gfx-rs/naga

[naga/wgsl-out]: add tests for polyfilled inverse
  naga/tests/in/glsl/inverse-polyfill.frag
  naga/tests/out/wgsl/inverse-polyfill.frag.wgsl
Owners: @gfx-rs/naga

[naga/wgsl-out]: polyfill `inverse` function
  CHANGELOG.md
  naga/src/back/wgsl/mod.rs
  naga/src/back/wgsl/polyfill/inverse/inverse_2x2_f16.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_2x2_f32.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_3x3_f16.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_3x3_f32.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_4x4_f16.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_4x4_f32.wgsl
  naga/src/back/wgsl/polyfill/mod.rs
  naga/src/back/wgsl/writer.rs
Owners: @gfx-rs/naga

[naga/wgsl-out]: polyfill `inverse` function (#6385)
  CHANGELOG.md
  naga/src/back/wgsl/mod.rs
  naga/src/back/wgsl/polyfill/inverse/inverse_2x2_f16.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_2x2_f32.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_3x3_f16.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_3x3_f32.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_4x4_f16.wgsl
  naga/src/back/wgsl/polyfill/inverse/inverse_4x4_f32.wgsl
  naga/src/back/wgsl/polyfill/mod.rs
  naga/src/back/wgsl/writer.rs
  naga/tests/in/glsl/inverse-polyfill.frag
  naga/tests/out/wgsl/inverse-polyfill.frag.wgsl
Owners: @gfx-rs/naga

[naga] Add new function, `GuardedIndex::from_expression`.
  naga/src/proc/index.rs
Owners: @gfx-rs/naga

[naga spv-out] Clean up `write_expression_pointer` type adjustment.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Add some tracing output to `Writer::write_function`.
  naga/src/back/spv/writer.rs
Owners: @gfx-rs/naga

[naga] Test access to a member/element through a pointer.
  naga/tests/in/access.wgsl
  naga/tests/out/analysis/access.info.ron
  naga/tests/out/glsl/access.assign_to_ptr_components.Compute.glsl
  naga/tests/out/glsl/access.foo.Vertex.glsl
  naga/tests/out/glsl/access.foo_frag.Fragment.glsl
  naga/tests/out/glsl/access.foo_vert.Vertex.glsl
  naga/tests/out/hlsl/access.hlsl
  naga/tests/out/hlsl/access.ron
  naga/tests/out/ir/access.compact.ron
  naga/tests/out/ir/access.ron
  naga/tests/out/msl/access.msl
  naga/tests/out/spv/access.spvasm
  naga/tests/out/wgsl/access.wgsl
Owners: @gfx-rs/naga

[naga spv-out] Let `write_checked_load` take `AccessTypeAdjustment`.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Introduce `Writer::get_resolution_pointer_id`.
  naga/src/back/spv/block.rs
  naga/src/back/spv/writer.rs
Owners: @gfx-rs/naga

[naga spv-out] Abstract out `NumericType::from_inner`.
  naga/src/back/spv/mod.rs
Owners: @gfx-rs/naga

[naga spv-out] Move code to load a pointer into its own function.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Gather array, matrix, and vector cases.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Use `crate::proc::index::GuardedIndex`.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

module comments have specific syntax
  naga/src/front/wgsl/error.rs
  naga/src/front/wgsl/parse/lexer.rs
  naga/src/front/wgsl/parse/mod.rs
Owners: @gfx-rs/naga

[naga spv-out] Spill arrays and matrices for runtime indexing.
  CHANGELOG.md
  naga/src/arena/handle_set.rs
  naga/src/back/spv/block.rs
  naga/src/back/spv/mod.rs
  naga/src/back/spv/writer.rs
  naga/src/valid/expression.rs
  naga/tests/in/index-by-value.wgsl
  naga/tests/out/ir/index-by-value.compact.ron
  naga/tests/out/ir/index-by-value.ron
  naga/tests/out/spv/access.spvasm
  naga/tests/out/spv/index-by-value.spvasm
  naga/tests/snapshots.rs
  naga/tests/wgsl_errors.rs
Owners: @gfx-rs/naga

[naga] Move array-by-value snapshot tests to index-by-value.wgsl.
  naga/tests/in/access.wgsl
  naga/tests/in/index-by-value.wgsl
  naga/tests/out/analysis/access.info.ron
  naga/tests/out/glsl/access.assign_through_ptr.Compute.glsl
  naga/tests/out/glsl/access.assign_to_ptr_components.Compute.glsl
  naga/tests/out/glsl/access.foo_frag.Fragment.glsl
  naga/tests/out/glsl/access.foo_vert.Vertex.glsl
  naga/tests/out/hlsl/access.hlsl
  naga/tests/out/hlsl/access.ron
  naga/tests/out/ir/access.compact.ron
  naga/tests/out/ir/access.ron
  naga/tests/out/ir/index-by-value.compact.ron
  naga/tests/out/ir/index-by-value.ron
  naga/tests/out/msl/access.msl
  naga/tests/out/spv/access.spvasm
  naga/tests/out/spv/index-by-value.spvasm
  naga/tests/out/wgsl/access.wgsl
Owners: @gfx-rs/naga

[naga spv-out] Abstract out `NumericType::from_inner`.
  naga/src/back/spv/mod.rs
Owners: @gfx-rs/naga

[naga] Add new function, `GuardedIndex::from_expression`.
  naga/src/proc/index.rs
Owners: @gfx-rs/naga

[naga] Move array-by-value snapshot tests to index-by-value.wgsl.
  naga/tests/in/access.wgsl
  naga/tests/in/index-by-value.wgsl
  naga/tests/out/analysis/access.info.ron
  naga/tests/out/glsl/access.assign_through_ptr.Compute.glsl
  naga/tests/out/glsl/access.assign_to_ptr_components.Compute.glsl
  naga/tests/out/glsl/access.foo_frag.Fragment.glsl
  naga/tests/out/glsl/access.foo_vert.Vertex.glsl
  naga/tests/out/hlsl/access.hlsl
  naga/tests/out/hlsl/access.ron
  naga/tests/out/ir/access.compact.ron
  naga/tests/out/ir/access.ron
  naga/tests/out/ir/index-by-value.compact.ron
  naga/tests/out/ir/index-by-value.ron
  naga/tests/out/msl/access.msl
  naga/tests/out/spv/access.spvasm
  naga/tests/out/spv/index-by-value.spvasm
  naga/tests/out/wgsl/access.wgsl
Owners: @gfx-rs/naga

[naga spv-out] Add some tracing output to `Writer::write_function`.
  naga/src/back/spv/writer.rs
Owners: @gfx-rs/naga

[naga spv-out] Introduce `Writer::get_resolution_pointer_id`.
  naga/src/back/spv/block.rs
  naga/src/back/spv/writer.rs
Owners: @gfx-rs/naga

[naga spv-out] Use `crate::proc::index::GuardedIndex`.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Let `write_checked_load` take `AccessTypeAdjustment`.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga

[naga spv-out] Gather array, matrix, and vector cases.
  naga/src/back/spv/block.rs
Owners: @gfx-rs/naga
