Repository gfx-rs/wgpu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gfx-rs/wgpu, @gfx-rs/deno, @gfx-rs/naga

.github/CODEOWNERS:

* @gfx-rs/wgpu

/cts_runner/    @gfx-rs/deno @gfx-rs/wgpu
/deno_webgpu/   @gfx-rs/deno @gfx-rs/wgpu
/naga/          @gfx-rs/naga
/naga-cli/      @gfx-rs/naga

# We leave the codeowners empty for the changelog, so naga changes 
# don't trigger wgpu reviews and vise versa.
/CHANGELOG.md

Updated CHANGELOG.md.
  CHANGELOG.md
Owners: none

Before adding errors, remove existing elements, if present.
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Ensure that pipeline creation errors register layouts as errors also
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Before adding errors, remove existing elements, if present.
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

Ensure that pipeline creation errors register layouts as errors also (#4624)
  CHANGELOG.md
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu

More complete implementation of "lose the device".
  CHANGELOG.md
  tests/tests/device.rs
  wgpu-core/src/device/global.rs
  wgpu-core/src/device/life.rs
  wgpu-core/src/device/mod.rs
  wgpu-core/src/device/resource.rs
  wgpu-types/src/lib.rs
  wgpu/src/backend/direct.rs
  wgpu/src/backend/web.rs
  wgpu/src/context.rs
  wgpu/src/lib.rs
Owners: @gfx-rs/wgpu

Updated CHANGELOG.md.
  CHANGELOG.md
Owners: none

Fix conversion to *const c_char.
  wgpu-core/src/device/mod.rs
Owners: @gfx-rs/wgpu

Use an allow lint to permit trivial_casts.
  wgpu-core/src/device/mod.rs
Owners: @gfx-rs/wgpu

rustfmt changes.
  wgpu/src/backend/direct.rs
  wgpu/src/context.rs
Owners: @gfx-rs/wgpu

subgroup: emit Shuffle instead of Broadcast on spv-out
  naga/src/back/spv/subgroup.rs
  naga/tests/out/spv/subgroup-operations.spvasm
Owners: @gfx-rs/naga

Improve block_size & block_dimension docs & fix link
  wgpu-types/src/lib.rs
Owners: @gfx-rs/wgpu

rename block_size -> block_size_in_bytes, old one is still around but deprecated
  tests/src/image.rs
  tests/tests/zero_init_texture_after_discard.rs
  wgpu-core/src/command/clear.rs
  wgpu-core/src/command/transfer.rs
  wgpu-core/src/device/queue.rs
  wgpu-hal/src/gles/queue.rs
  wgpu-hal/src/vulkan/command.rs
  wgpu-types/src/lib.rs
  wgpu/src/util/device.rs
Owners: @gfx-rs/wgpu

changelog entry
  CHANGELOG.md
Owners: none

update block_size doc with better links & description.
  wgpu-types/src/lib.rs
Owners: @gfx-rs/wgpu

fix missed rename
  wgpu-hal/src/dx12/command.rs
Owners: @gfx-rs/wgpu

[wgsl-in] Remove unused expressions from Module::const_expressions.
  CHANGELOG.md
  naga/src/arena.rs
  naga/src/front/wgsl/lower/compact.rs
  naga/src/front/wgsl/lower/mod.rs
  naga/tests/out/ir/access.ron
  naga/tests/out/ir/collatz.ron
Owners: @gfx-rs/naga

More complete implementation of "lose the device". (#4645)
  CHANGELOG.md
  tests/tests/device.rs
  wgpu-core/src/device/global.rs
  wgpu-core/src/device/life.rs
  wgpu-core/src/device/mod.rs
  wgpu-core/src/device/resource.rs
  wgpu-types/src/lib.rs
  wgpu/src/backend/direct.rs
  wgpu/src/backend/web.rs
  wgpu/src/context.rs
  wgpu/src/lib.rs
Owners: @gfx-rs/wgpu

vulkan: Only support bgra8unorm_storage if STORAGE_READ_WITHOUT_FORMAT is supported
  CHANGELOG.md
  wgpu-hal/src/vulkan/adapter.rs
Owners: @gfx-rs/wgpu

Better handle destroying textures and buffers
  tests/tests/gpu.rs
  tests/tests/life_cycle.rs
  wgpu-core/src/device/global.rs
  wgpu-core/src/storage.rs
Owners: @gfx-rs/wgpu

Add a changelog entry
  CHANGELOG.md
Owners: none

Better handle destroying textures and buffers (#4657)
  CHANGELOG.md
  tests/tests/gpu.rs
  tests/tests/life_cycle.rs
  wgpu-core/src/device/global.rs
  wgpu-core/src/storage.rs
Owners: @gfx-rs/wgpu

Don't drop command buffers when submitting in wgpu_core
  wgpu-core/src/device/queue.rs
  wgpu/src/backend/direct.rs
Owners: @gfx-rs/wgpu

Don't drop command buffers when submitting in wgpu_core (#4660)
  wgpu-core/src/device/queue.rs
  wgpu/src/backend/direct.rs
Owners: @gfx-rs/wgpu

Use HLSL 2018
  wgpu-hal/src/dx12/shader_compilation.rs
Owners: @gfx-rs/wgpu

[naga] Improve algorithm for Module compaction.
  CHANGELOG.md
  naga/src/compact/expressions.rs
  naga/src/compact/functions.rs
  naga/src/compact/handle_set_map.rs
  naga/src/compact/mod.rs
  naga/src/compact/statements.rs
  naga/src/compact/types.rs
Owners: @gfx-rs/naga

vk: Enable FifoRelaxed PresentMode
  wgpu-hal/src/vulkan/conv.rs
Owners: @gfx-rs/wgpu

vk: Enable FifoRelaxed PresentMode (#4666)
  wgpu-hal/src/vulkan/conv.rs
Owners: @gfx-rs/wgpu

Fixing wrong merge
  wgpu-core/src/device/global.rs
Owners: @gfx-rs/wgpu
