Repository gfx-rs/wgpu, pull requests merged in 2023-11, with the labels that each got.

#4642 Check if `source` is empty when constructing `hal::DebugSource`
  wgpu-core/src/device/resource.rs
Labels: PR: needs back-porting

#4685 [naga] Follow-ups to #4763, Introduce `Scalar` type to IR.
  naga/src/front/glsl/functions.rs
  naga/src/front/glsl/parser/declarations.rs
  naga/src/front/glsl/types.rs
  naga/src/proc/constant_evaluator.rs
  naga/src/proc/mod.rs
Labels: naga, kind: refactor

#4695 [naga] Let constant evaluation handle `Compose` of `Splat`.
  CHANGELOG.md
  naga/src/proc/mod.rs
  naga/tests/in/const-exprs.wgsl
  naga/tests/out/glsl/const-exprs.main.Compute.glsl
  naga/tests/out/hlsl/const-exprs.hlsl
  naga/tests/out/msl/const-exprs.msl
  naga/tests/out/spv/const-exprs.spvasm
  naga/tests/out/wgsl/const-exprs.wgsl
Labels: naga, lang: SPIR-V, area: naga processing

#4696 [naga] Preserve spans when compacting Arenas.
  CHANGELOG.md
  naga/src/arena.rs
  naga/tests/wgsl-errors.rs
Labels: type: bug, naga, kind: diagnostics

#4735 [naga]: Let `TypeInner::Matrix` hold a `Scalar`, not just a width.
  CHANGELOG.md
  naga/src/back/glsl/features.rs
  naga/src/back/glsl/mod.rs
  naga/src/back/hlsl/conv.rs
  naga/src/back/hlsl/help.rs
  naga/src/back/hlsl/storage.rs
  naga/src/back/hlsl/writer.rs
  naga/src/back/msl/writer.rs
  naga/src/back/spv/block.rs
  naga/src/back/spv/mod.rs
  naga/src/back/spv/writer.rs
  naga/src/back/wgsl/writer.rs
  naga/src/front/glsl/builtins.rs
  naga/src/front/glsl/context.rs
  naga/src/front/glsl/functions.rs
  naga/src/front/glsl/offset.rs
  naga/src/front/glsl/parser/declarations.rs
  naga/src/front/glsl/types.rs
  naga/src/front/spv/mod.rs
  naga/src/front/type_gen.rs
  naga/src/front/wgsl/lower/construction.rs
  naga/src/front/wgsl/lower/mod.rs
  naga/src/front/wgsl/to_wgsl.rs
  naga/src/lib.rs
  naga/src/proc/constant_evaluator.rs
  naga/src/proc/layouter.rs
  naga/src/proc/mod.rs
  naga/src/proc/typifier.rs
  naga/src/valid/compose.rs
  naga/src/valid/expression.rs
  naga/src/valid/type.rs
  naga/tests/out/ir/access.compact.ron
  naga/tests/out/ir/access.ron
  naga/tests/out/ir/shadow.compact.ron
  naga/tests/out/ir/shadow.ron
  wgpu-core/src/validation.rs
  wgpu-hal/src/gles/queue.rs
Labels: naga, kind: refactor, area: naga middle-end

#4733 [naga wgsl-in] Preserve type names in `alias` declarations.
  CHANGELOG.md
  naga/src/front/wgsl/lower/mod.rs
Labels: type: bug, naga, lang: WGSL

#4796 Remove surface extent validation (and thus fix the annoying `Requested size ... is outside of the supported range` warning)
  CHANGELOG.md
  wgpu-core/src/device/global.rs
  wgpu-core/src/present.rs
  wgpu-hal/src/dx12/adapter.rs
  wgpu-hal/src/gles/adapter.rs
  wgpu-hal/src/gles/mod.rs
  wgpu-hal/src/lib.rs
  wgpu-hal/src/metal/adapter.rs
  wgpu-hal/src/vulkan/adapter.rs
  wgpu-hal/src/vulkan/instance.rs
Labels: area: validation

#4805 [naga] Improve ConstantEvaluatorError::InvalidCastArg message.
  naga/src/proc/constant_evaluator.rs
Labels: naga, area: naga processing, kind: diagnostics
