Repository gfx-rs/wgpu, pull requests merged in 2024-03, with the labels that each got.

#5355 [naga xtask] Update Cargo.lock for dependabot #5241.
  naga/xtask/Cargo.lock
Labels: area: infrastructure, naga

#5356 [naga] Document return types of image query operations.
  naga/src/lib.rs
Labels: area: documentation, naga, area: naga middle-end

#5354 [naga] Document the absence of "phi" expressions.
  naga/src/lib.rs
Labels: area: documentation, naga, area: naga middle-end

#5392 add cli arg to choose metal version
  CHANGELOG.md
  naga-cli/src/bin/naga.rs
Labels: area: ecosystem, api: metal, area: naga back-end, naga

#5431 Minor doc fixes - plural/singular wrong, wrong word for compute/renderpass
  wgpu-types/src/lib.rs
Labels: area: documentation

#5437 [naga] Add some documentation for the uniformity analysis.
  naga/src/valid/analyzer.rs
Labels: area: documentation, naga, area: naga processing

#5441 Fix indexed drawing with RenderBundle
  CHANGELOG.md
  tests/tests/vertex_indices/mod.rs
  wgpu-core/src/command/bundle.rs
Labels: PR: needs back-porting
