Repository gfx-rs/wgpu, pull requests merged in 2024-05, with the labels that each got.

#5574 When a `#[gpu_test]` test fails, print its source location.
  tests/src/config.rs
  tests/src/run.rs
Labels: type: enhancement, area: tests

#5595 Clean up weak references to texture views and bind groups
  CHANGELOG.md
  wgpu-core/src/device/life.rs
Labels: PR: needs back-porting

#5682 Remove `#[doc(inline)]` to Prevent Doc Spam
  wgpu/src/lib.rs
Labels: PR: needs back-porting

#5624 Fix Subgroup Ops on VK 1.2 Device
  CHANGELOG.md
  wgpu-hal/src/vulkan/adapter.rs
  wgpu-hal/src/vulkan/device.rs
  wgpu-hal/src/vulkan/mod.rs
Labels: PR: needs back-porting

#5726 [naga spv-in] Delete misplaced, outdated comment.
  naga/src/front/spv/mod.rs
Labels: area: documentation, naga, lang: SPIR-V, area: naga front-end

#5725 [naga spv-in] Doc fix: `Parser` -> `Frontend`
  naga/src/front/spv/mod.rs
Labels: area: documentation, naga, lang: SPIR-V, area: naga front-end

#5254 Add a vertex pulling flag to Metal pipelines.
  deno_webgpu/pipeline.rs
  naga/CHANGELOG.md
  naga/src/back/msl/mod.rs
  naga/src/back/msl/writer.rs
  naga/tests/in/interface.param.ron
  naga/tests/in/vertex-pulling-transform.param.ron
  naga/tests/in/vertex-pulling-transform.wgsl
  naga/tests/out/msl/vertex-pulling-transform.msl
  naga/tests/snapshots.rs
  player/tests/data/bind-group.ron
  player/tests/data/pipeline-statistics-query.ron
  player/tests/data/quad.ron
  player/tests/data/zero-init-buffer.ron
  player/tests/data/zero-init-texture-binding.ron
  tests/tests/vertex_indices/mod.rs
  wgpu-core/src/device/resource.rs
  wgpu-core/src/pipeline.rs
  wgpu-hal/examples/halmark/main.rs
  wgpu-hal/examples/ray-traced-triangle/main.rs
  wgpu-hal/src/lib.rs
  wgpu-hal/src/metal/command.rs
  wgpu-hal/src/metal/device.rs
  wgpu-hal/src/metal/mod.rs
  wgpu/src/backend/wgpu_core.rs
  wgpu/src/lib.rs
Labels: type: enhancement, area: correctness, api: metal, area: naga back-end

#5681 [hal/vk] Rework Submission and Surface Synchronization
  wgpu-core/src/device/queue.rs
  wgpu-core/src/present.rs
  wgpu-hal/examples/halmark/main.rs
  wgpu-hal/examples/raw-gles.rs
  wgpu-hal/examples/ray-traced-triangle/main.rs
  wgpu-hal/src/dx12/mod.rs
  wgpu-hal/src/empty.rs
  wgpu-hal/src/gles/egl.rs
  wgpu-hal/src/gles/queue.rs
  wgpu-hal/src/gles/web.rs
  wgpu-hal/src/gles/wgl.rs
  wgpu-hal/src/lib.rs
  wgpu-hal/src/metal/mod.rs
  wgpu-hal/src/metal/surface.rs
  wgpu-hal/src/vulkan/adapter.rs
  wgpu-hal/src/vulkan/device.rs
  wgpu-hal/src/vulkan/instance.rs
  wgpu-hal/src/vulkan/mod.rs
Labels: PR: needs back-porting
