Repository gfx-rs/wgpu, pull requests merged in 2024-12, with the labels that each got.

#6633 [naga wgsl-in] Remove support for `-> void` return type syntax.
  naga/src/front/wgsl/parse/mod.rs
Labels: type: bug, naga, area: naga front-end

#6628 [naga] Add `naga::common::wgsl` shared by WGSL front and backends.
  naga/src/common/mod.rs
  naga/src/common/wgsl.rs
  naga/src/front/wgsl/diagnostic_filter.rs
  naga/src/front/wgsl/mod.rs
  naga/src/front/wgsl/tests.rs
  naga/src/lib.rs
Labels: naga, kind: refactor, lang: WGSL

#6680 docs: remove last paragraph from `CommandBuffer::data`
  wgpu-core/src/command/mod.rs
Labels: area: documentation

#6682 [naga spv-in] Let `BlockContext` hold a `&mut Module`.
  naga/src/front/spv/function.rs
  naga/src/front/spv/image.rs
  naga/src/front/spv/mod.rs
Labels: naga, kind: refactor, lang: SPIR-V, area: naga front-end

#6577 [naga wgsl-in] Attempt automatic conversion for arguments to user defined function calls
  CHANGELOG.md
  naga/src/front/wgsl/lower/mod.rs
  naga/src/front/wgsl/tests.rs
  naga/tests/in/abstract-types-function-calls.wgsl
  naga/tests/out/hlsl/abstract-types-function-calls.ron
  naga/tests/out/msl/abstract-types-function-calls.msl
  naga/tests/out/spv/abstract-types-function-calls.spvasm
  naga/tests/out/wgsl/abstract-types-function-calls.wgsl
  naga/tests/snapshots.rs
Labels: type: bug, naga, area: naga front-end, lang: WGSL

#6690 fix being able to use storage textures without `TEXTURE_ADAPTER_SPECIFIC_FORMAT_FEATURES`
  examples/src/ray_traced_triangle/mod.rs
  player/tests/data/zero-init-texture-binding.ron
  wgpu-core/src/conv.rs
  wgpu-core/src/device/global.rs
  wgpu-core/src/device/resource.rs
  wgpu-core/src/present.rs
  wgpu-hal/src/dx12/adapter.rs
  wgpu-hal/src/dx12/conv.rs
  wgpu-hal/src/dx12/device.rs
  wgpu-hal/src/lib.rs
  wgpu-hal/src/metal/adapter.rs
  wgpu-hal/src/vulkan/conv.rs
  wgpu-types/src/lib.rs
Labels: type: bug, area: validation

#6712 chore: satisfy `clippy::unused_qualification`
  naga/src/back/pipeline_constants.rs
  wgpu-core/src/command/ray_tracing.rs
Labels: kind: refactor

#6707 chore: remove empty and unused `naga/src/front/wgsl/diagnostic_filter.rs`
  naga/src/front/wgsl/diagnostic_filter.rs
Labels: kind: refactor

#6710 chore: satisfy `clippy::unnecessary_map_or`
  naga/src/back/msl/writer.rs
  naga/src/front/glsl/functions.rs
  naga/src/front/glsl/parser/declarations.rs
  naga/src/front/glsl/parser/functions.rs
  naga/src/front/glsl/parser/types.rs
  naga/src/front/spv/mod.rs
  tests/tests/dispatch_workgroups_indirect.rs
  wgpu-core/src/device/resource.rs
  wgpu-hal/src/gles/command.rs
  wgpu-hal/src/vulkan/adapter.rs
  wgpu/src/util/init.rs
Labels: kind: refactor

#6767 [d3d12] fix being able to use `dispatchWorkgroupsIndirect` without validation
  wgpu-core/src/device/resource.rs
  wgpu-core/src/indirect_validation.rs
  wgpu-hal/src/dx12/command.rs
  wgpu-hal/src/dx12/device.rs
  wgpu-hal/src/dx12/mod.rs
  wgpu-hal/src/lib.rs
Labels: type: bug, PR: needs back-porting, area: correctness, area: cts

#6774 fix(naga): s/os/target_os/ in `xtask`'s FXC/DXC check
  naga/xtask/src/validate.rs
Labels: type: bug, area: infrastructure

#6770 chore: `warn` on `clippy::ptr_as_ref `
  Cargo.toml
Labels: area: infrastructure

#6729 [naga valid]: Clean up validation of `Statement::ImageStore`.
  naga/src/valid/function.rs
Labels: area: validation, naga, kind: refactor

#6718 Detect a common syntax error case for diagnostic_directive
  CHANGELOG.md
  naga/src/front/wgsl/error.rs
  naga/src/front/wgsl/parse/mod.rs
  naga/src/front/wgsl/tests.rs
Labels: type: enhancement, naga, area: naga front-end, lang: WGSL, kind: diagnostics

#6790 [naga] In compaction, fix array lengths as part of type adjustment.
  naga/src/compact/mod.rs
  naga/src/compact/types.rs
Labels: naga, kind: refactor, area: naga middle-end

#6792 Clarify cases for `Select` argument type mismatch diagnostics
  naga/src/valid/expression.rs
  naga/tests/validation.rs
  naga/tests/wgsl_errors.rs
Labels: area: validation, naga, area: naga processing, kind: diagnostics

#6773 fix: make `unpack4x{I,U}8` output exprs. composable in `{hlsl,msl}-out`
  naga/src/back/hlsl/writer.rs
  naga/src/back/msl/writer.rs
  naga/tests/in/6772-unpack-expr-accesses.ron
  naga/tests/in/6772-unpack-expr-accesses.wgsl
  naga/tests/out/glsl/6772-unpack-expr-accesses.main.Compute.glsl
  naga/tests/out/hlsl/6772-unpack-expr-accesses.hlsl
  naga/tests/out/hlsl/6772-unpack-expr-accesses.ron
  naga/tests/out/hlsl/bits.hlsl
  naga/tests/out/msl/6772-unpack-expr-accesses.msl
  naga/tests/out/msl/bits.msl
  naga/tests/out/spv/6772-unpack-expr-accesses.spvasm
  naga/tests/out/wgsl/6772-unpack-expr-accesses.wgsl
  naga/tests/snapshots.rs
Labels: type: bug, api: dx12, api: metal, area: naga back-end, naga, lang: Metal, lang: HLSL
