Repository gfx-rs/wgpu, pull requests merged in 2024-06, with the labels that each got.

#5761 [naga doc] Fix broken links in Naga `bitflags` types.
  naga/src/back/mod.rs
  naga/src/back/spv/mod.rs
  naga/src/front/glsl/ast.rs
  naga/src/front/glsl/builtins.rs
  naga/src/lib.rs
  naga/src/valid/analyzer.rs
  naga/src/valid/mod.rs
  naga/src/valid/type.rs
Labels: area: documentation, naga

#5768 Reintroduce computepass->encoder lifetime constraint and make it opt-out via `wgpu::ComputePass::forget_lifetime`
  CHANGELOG.md
  tests/tests/compute_pass_ownership.rs
  tests/tests/encoder.rs
  wgpu/src/lib.rs
Labels: kind: refactor

#5771 [naga] Ensure that `FooResult` expressions are correctly populated.
  naga/src/valid/function.rs
  naga/src/valid/mod.rs
  naga/tests/validation.rs
Labels: type: bug, area: validation, naga

#5785 [naga] Add snapshot test output omitted from #5702.
  naga/tests/out/ir/atomic_i_increment.compact.ron
  naga/tests/out/ir/atomic_i_increment.ron
Labels: area: tests, naga, lang: SPIR-V, area: naga front-end

#5782 [naga] Document which `Arena` each `Handle<Expression>` refers to.
  naga/src/lib.rs
Labels: area: documentation, naga, area: naga middle-end

#5622 Add Release.md
  RELEASE.md
Labels: area: infrastructure

#5801 Skip `compute_pass_resource_ownership` on GL/AMD Radeon Pro WX 3200.
  tests/tests/compute_pass_ownership.rs
Labels: api: gles, area: tests

#5808 build: fix individual `-p wgpu-info` builds
  wgpu-info/Cargo.toml
Labels: area: infrastructure

#5812 Do not feed &"" to D3DCompile
  wgpu-hal/src/dx12/device.rs
  wgpu-hal/src/dx12/shader_compilation.rs
Labels: PR: needs back-porting

#5815 style: strip trailing whitespace from `lock::ranked` module
  wgpu-core/src/lock/ranked.rs
Labels: kind: refactor

#5818 [naga] Remove unneeded `PartialEq` derivations.
  naga/src/front/glsl/variables.rs
  naga/src/lib.rs
Labels: naga, kind: refactor

#5846 [naga] Introduce `HandleVec`.
  naga/src/arena.rs
  naga/src/back/pipeline_constants.rs
  naga/src/back/spv/block.rs
  naga/src/back/spv/image.rs
  naga/src/back/spv/index.rs
  naga/src/back/spv/mod.rs
  naga/src/back/spv/recyclable.rs
  naga/src/back/spv/writer.rs
Labels: area: naga back-end, naga, kind: refactor

#5864 [naga] Use `HandleVec` in `Typeifier`.
  naga/src/arena.rs
  naga/src/front/mod.rs
Labels: naga, kind: refactor

#5873 [naga] Clarify `Debug` form of `arena::Range`.
  naga/src/arena/range.rs
Labels: naga, kind: refactor

#5794 Separate renderpass arc resolve & renderpass consume on end
  deno_webgpu/render_pass.rs
  player/src/lib.rs
  wgpu-core/src/command/bundle.rs
  wgpu-core/src/command/compute_command.rs
  wgpu-core/src/command/draw.rs
  wgpu-core/src/command/mod.rs
  wgpu-core/src/command/render.rs
  wgpu-core/src/command/render_command.rs
  wgpu/src/backend/wgpu_core.rs
Labels: kind: refactor
