Repository gfx-rs/wgpu, pull requests merged in 2025-03, with the labels that each got.

#7264 [naga] Centralize naming of anonymous entry point return types.
  naga/src/back/wgsl/writer.rs
  naga/src/proc/namer.rs
  naga/tests/in/glsl/anonymous-entry-point-type.frag
  naga/tests/out/glsl/quad-vert.main.Vertex.glsl
  naga/tests/out/hlsl/quad-vert.hlsl
  naga/tests/out/msl/quad-vert.msl
  naga/tests/out/wgsl/anonymous-entry-point-type.frag.wgsl
Labels: naga, area: naga middle-end

#7274 Edit `CHANGELOG` a bit
  CHANGELOG.md
Labels: area: ecosystem

#7250 [naga wgsl-in] Handle automatic type conversions for switch selector and case expressions
  CHANGELOG.md
  naga/src/front/wgsl/error.rs
  naga/src/front/wgsl/lower/mod.rs
  naga/src/front/wgsl/tests.rs
  naga/src/proc/mod.rs
  naga/tests/in/wgsl/control-flow.wgsl
  naga/tests/out/glsl/control-flow.main.Compute.glsl
  naga/tests/out/hlsl/control-flow.hlsl
  naga/tests/out/msl/control-flow.msl
  naga/tests/out/spv/control-flow.spvasm
  naga/tests/out/wgsl/control-flow.wgsl
  naga/tests/wgsl_errors.rs
Labels: type: bug, naga, area: naga front-end, lang: WGSL

#7291 test(android): add ARMv7 and x86-64 architectures as tier 2
  .github/workflows/ci.yml
Labels: area: infrastructure

#7162 Use TextureViewDescriptor::usage when Creating Texture View
  tests/gpu-tests/texture_view_creation.rs
  wgpu-core/src/device/resource.rs
  wgpu-core/src/resource.rs
Labels: type: bug, backend: vulkan

#7327 [naga] Let `write_type_inner` match `TypeInner` exhaustively.
  naga/src/common/wgsl/types.rs
Labels: type: bug, naga, lang: WGSL

#7328 [naga wgsl] Refactor `Image` type generation.
  naga/src/common/wgsl/types.rs
Labels: naga, kind: refactor, lang: WGSL

#7348 [naga] Place the `#[track_caller]` attribute on some test utilities.
  naga/tests/wgsl_errors.rs
Labels: area: tests, naga, kind: diagnostics

#7338 Cache reserved keywords
  naga/src/back/glsl/keywords.rs
  naga/src/back/glsl/mod.rs
  naga/src/back/hlsl/keywords.rs
  naga/src/back/hlsl/writer.rs
  naga/src/back/msl/keywords.rs
  naga/src/back/msl/writer.rs
  naga/src/back/wgsl/writer.rs
  naga/src/keywords/wgsl.rs
  naga/src/lib.rs
  naga/src/proc/namer.rs
Labels: area: performance, area: naga back-end, naga

#7366 refactor(core): avoid manually reimplemented `sort_by_key`
  wgpu-core/src/instance.rs
Labels: kind: refactor

#7377 [naga wgsl-in] Allow explicit cast from AbstractFloat to integer types
  naga/src/proc/constant_evaluator.rs
  naga/tests/in/wgsl/constructors.wgsl
  naga/tests/out/spv/constructors.spvasm
Labels: naga, area: naga front-end, lang: WGSL

#7404 [naga] Implement constant evaluation for the `cross` builtin.
  naga/src/proc/constant_evaluator.rs
  naga/tests/in/wgsl/cross.wgsl
  naga/tests/out/glsl/cross.main.Compute.glsl
  naga/tests/out/hlsl/cross.hlsl
  naga/tests/out/msl/cross.msl
  naga/tests/out/spv/cross.spvasm
  naga/tests/out/wgsl/cross.wgsl
  naga/tests/validation.rs
  naga/tests/wgsl_errors.rs
Labels: naga, area: naga processing

#7426 [naga] Check the type of `ImageQuery::Size`'s `level` parameter.
  naga/src/valid/expression.rs
  naga/tests/validation.rs
Labels: area: validation, naga

#7455 [naga] Update naga/xtask/Cargo.lock.
  naga/xtask/Cargo.lock
Labels: area: infrastructure, naga
