Repository gfx-rs/wgpu, pull requests merged in 2025-01, with the labels that each got.

#6821 [naga] Allow abstract scalars in `modf` and `frexp` results.
  naga/src/back/glsl/mod.rs
  naga/src/back/hlsl/help.rs
  naga/src/back/msl/writer.rs
  naga/src/front/type_gen.rs
  naga/src/front/wgsl/lower/mod.rs
  naga/src/lib.rs
  naga/src/proc/typifier.rs
Labels: naga, area: naga middle-end, lang: WGSL

#6805 [naga wgsl-in] Document `front::wgsl::parse::lexer::Lexer`.
  naga/src/front/wgsl/parse/lexer.rs
Labels: area: documentation, naga, area: naga front-end, lang: WGSL

#6723 Add directive keywords to error message for parsing global item
  CHANGELOG.md
  naga/src/front/wgsl/error.rs
Labels: type: enhancement, naga, area: naga front-end, lang: WGSL, kind: diagnostics

#6800 [naga] Forbid cycles between global expressions and types.
  naga/src/valid/handles.rs
Labels: area: validation, naga, area: naga middle-end

#6882 [naga] Validate override array sizes.
  naga/src/valid/handles.rs
Labels: type: bug, area: validation, naga

#6814 Add `Instance::wgsl_language_features`
  CHANGELOG.md
  Cargo.lock
  naga/Cargo.toml
  naga/src/front/wgsl/mod.rs
  naga/src/front/wgsl/parse/directive/language_extension.rs
  wgpu/Cargo.toml
  wgpu/src/api/instance.rs
  wgpu/src/backend/webgpu.rs
  wgpu/src/backend/wgpu_core.rs
  wgpu/src/dispatch.rs
Labels: area: api, api: webgpu, naga, area: naga front-end, lang: WGSL

#6901 Re-enable CI on `trunk`, so we can turn off merge queues
  .github/workflows/ci.yml
  .github/workflows/shaders.yml
Labels: area: infrastructure

#6907 fix(wgsl-in): debug-print unexpected tokens to include control characters
  naga/src/front/wgsl/error.rs
  naga/tests/wgsl_errors.rs
Labels: naga, area: naga front-end, lang: WGSL, kind: diagnostics

#6908 diag(wgsl-in): use backticks for code-like text in WGSL FE errors
  naga/src/front/wgsl/error.rs
  naga/tests/wgsl_errors.rs
Labels: naga, area: naga front-end, lang: WGSL, kind: diagnostics

#6917 [naga] Consolidate entry point tracing code.
  naga/src/compact/mod.rs
Labels: naga, kind: refactor, area: naga processing

#6937 Implement `Clone` for `ShaderModule`
  wgpu/src/api/shader_module.rs
Labels: PR: needs back-porting

#6946 Fix building `wgpu` with `--no-default-feautures` on web (`wasm32-unknown-unknown`)
  .github/workflows/ci.yml
  CHANGELOG.md
  wgpu/src/dispatch.rs
  wgpu/src/lib.rs
Labels: PR: needs back-porting

#6976 [naga] Document arena ordering requirements.
  naga/src/arena/mod.rs
  naga/src/lib.rs
Labels: area: documentation, naga, area: naga middle-end

#7014 Clean up `naga`'s `xtask` a bit
  naga/xtask/src/main.rs
  naga/xtask/src/result.rs
  naga/xtask/src/validate.rs
Labels: area: infrastructure, kind: refactor

#6791 diag(naga): clarify `ImageStore` type mismatch cases
  naga/src/valid/function.rs
Labels: area: validation, naga, area: naga processing, kind: diagnostics
