Repository gfx-rs/wgpu, pull requests merged in 2025-09, with the labels that each got.

#8183 Update comments on IdentityValues
  wgpu-core/src/identity.rs
Labels: area: documentation

#8165 [naga wgsl-in] Allow trailing comma in switch cases
  CHANGELOG.md
  naga/src/front/wgsl/parse/mod.rs
  naga/tests/in/wgsl/control-flow.wgsl
  naga/tests/out/glsl/wgsl-control-flow.main.Compute.glsl
  naga/tests/out/hlsl/wgsl-control-flow.hlsl
  naga/tests/out/msl/wgsl-control-flow.msl
  naga/tests/out/spv/wgsl-control-flow.spvasm
  naga/tests/out/wgsl/wgsl-control-flow.wgsl
Labels: naga, area: naga front-end, lang: WGSL

#8237 feat(wgsl): recognize `enable primitive-index;`
  CHANGELOG.md
  naga/src/front/wgsl/mod.rs
  naga/src/front/wgsl/parse/directive/enable_extension.rs
  naga/tests/naga/wgsl_errors.rs
Labels: type: enhancement, naga, area: naga front-end, lang: WGSL
