Repository gfx-rs/wgpu, pull requests merged in 2025-04, with the labels that each got.

#7457 [naga tests] Silence dead code warning.
  naga/tests/validation.rs
Labels: area: tests, naga

#7442 Refactor WGSL front end's `MathFunction` handling
  naga/src/front/wgsl/lower/mod.rs
Labels: naga, kind: refactor, area: naga front-end, lang: WGSL

#7487 [naga] Exhaustively match `MathFunction` in the constant evaluator.
  naga/src/proc/constant_evaluator.rs
Labels: naga, kind: refactor, area: naga processing

#7509 Fix build with `profiling` enabled
  wgpu-core/src/instance.rs
Labels: PR: needs back-porting

#7507 [naga] Properly evaluate `abs(most negative abstract int)`.
  naga/src/proc/constant_evaluator.rs
  naga/tests/naga/wgsl_errors.rs
Labels: naga, area: naga processing

#7517 [naga] Use `race::OnceBox` for `Namer::default`
  Cargo.lock
  naga/Cargo.toml
  naga/src/proc/namer.rs
Labels: PR: needs back-porting

#7519 [d3d12] Fix bug with committed resource allocation
  wgpu-hal/src/dx12/suballocation.rs
Labels: PR: needs back-porting

#7526 Fix `raw-window-handle` dependency being too lenient
  Cargo.toml
Labels: dependencies

#7547 [naga wgsl-in] Try out new `use` convention.
  naga/src/front/wgsl/lower/mod.rs
Labels: naga, kind: refactor, area: naga front-end, lang: WGSL

#7556 chore(CHANGELOG): run `prettier`
  CHANGELOG.md
Labels: area: infrastructure

#7548 [naga wgsl-in] Apply automatic conversions to sampling arguments.
  naga/src/front/wgsl/lower/mod.rs
  naga/tests/in/wgsl/abstract-types-texture.toml
  naga/tests/in/wgsl/abstract-types-texture.wgsl
  naga/tests/out/msl/wgsl-abstract-types-texture.msl
Labels: type: bug, naga, area: naga front-end, lang: WGSL

#7573 [naga wgsl-in] Properly convert arguments to atomic operations.
  naga/src/front/wgsl/lower/mod.rs
  naga/tests/in/wgsl/abstract-types-atomic.toml
  naga/tests/in/wgsl/abstract-types-atomic.wgsl
  naga/tests/out/wgsl/wgsl-abstract-types-atomic.wgsl
Labels: type: bug, naga, area: naga front-end, lang: WGSL
